doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/slider/slider
  include ../components/about/about
  include ../components/certificates/certificates
  include ../components/factory/factory
  include ../components/footer/footer

  head
    +head(head.defaults)
  body
    main.main
      +header()
      +slider()
      +about()
      +factory()

  //- Main scripts. You can replace it, but I recommend you to leave it here
  script(src='%=static=%js/main%=hash=%%=min=%.js')