// @include font-face(Raleway-Light, "../fonts/Raleway-Light");
// $Raleway-Light: 'Raleway-Light', Helvetica, Arial, sans-serif;

// @include font-face(Raleway-Regular, "../fonts/Raleway-Regular");
// $Raleway-Regular: 'Raleway-Regular', Helvetica, Arial, sans-serif;

// @include font-face(Raleway-Bold, "../fonts/Raleway-Bold");
// $Raleway-Bold: 'Raleway-Bold', Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Raleway-Regular.woff') format('woff'),
       url('../fonts/Raleway-Regular.svg#custom_font') format('svg');
  font-weight: 400;       // For normal width. It could has another value   
  font-style: normal;     // Also could has another value
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Raleway-Light.woff') format('woff'),
       url('../fonts/Raleway-Light.svg#custom_font') format('svg');
  font-weight: 300;       // For normal width. It could has another value   
  font-style: normal;     // Also could has another value
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Raleway-Medium.woff') format('woff'),
       url('../fonts/Raleway-Medium.svg#custom_font') format('svg');
  font-weight: 600;       // For normal width. It could has another value   
  font-style: normal;     // Also could has another value
}


@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Raleway-Bold.woff') format('woff'),
       url('../fonts/Raleway-Bold.svg#custom_font') format('svg');
  font-weight: 700;       // For normal width. It could has another value   
  font-style: normal;     // Also could has another value
}