mixin about(data)
  .about#about
    .about__left
      .about__title О компании

      //- .hideup.js-hideup
      p Сommandor – зарегистрированная торговая марка в Узбекистане. Изначально мы специализировались в изготовлении качественной спец-обуви, но сейчас начали производство повседневной обуви как для женщин, так и для мужчин. Натуральная кожа, тепло и влаго-изоляция, полиуретановые литые подошвы и другие материалы высокого качества гарантируют долговечность нашей продукции. 
      p Мы всегда рады и открыты сотрудничеству, имеем опыт производства на экспорт, а наши цены вас приятно удивят! 
      p Сommandor – Надежное качество.

      //- a(href="#" title="").btn.js-hideup-btn Подробнее

    .about__right
      +certificates()