mixin about(data)
  .about
    .about__left
      .about__title О компании

      .hideup.js-hideup
        p Обувная компания «Профобувь» более 7 лет успешно работает на рынке производителей  рабочей и специальной обуви, а также является оптовым поставщиком профессиональной спецодежды и средств индивидуальной защиты.
        p Мы производим разнообразные модели обуви литьевого, гвоздевого, бортопрошивного методов крепления подошвы, а также обувь, изготовленную методом прямого прилива резины.
        p Выпускаемая обувь изготавливается в разных комплектациях: утепленном варианте с использованием искусственного или натурального меха, карбоновым или  металлическим подноском, кивларовой  или металлической стелькой, строго в соответствии с техническими условиями, что гарантирует потребителям оптимальное качество и долгое время эксплуатации с надежной защитой от механических повреждений и химических воздействий.
        p Ассортиментный ряд продукции представлен полуботинками, ботинками, ботинками с высокими берцами и сапогами с 35 до 48.
        p Собственное производство рабочей обуви позволяет выполнять заказы любой сложности в сжатые сроки с гарантией высокого качества. Все виды специальной обуви успешно прошли сертификацию, подтвердившую ее высокое качество в соответствие самым строгим гигиеническим требованиям.
        p Проверенная временем и отлично зарекомендовавшая себя рабочая обувь гарантирует безопасность и комфортные условия носки рабочим всех отраслей промышленности.

      a(href="#" title="").btn.js-hideup-btn Подробнее

    .about__right
      +certificates()