mixin header(data)
  header.header
    a(href="#" title="").header__logo
    .header-menu
      a(href="#" title="").header-menu__item О компании
      a(href="#" title="").header-menu__item Производство
      a(href="#" title="").header-menu__item Продукция
      a(href="#" title="").header-menu__item Партнеры
      a(href="#" title="").header-menu__item Контакты
    .header-contacts
      .header-contacts__phone 
        i.fa.fa-mobile.header-contacts__icon
        | +7 (925) 
        strong 514-77-15
      .header-contacts__address Москва, 107564, Краснобогатырская ул., дом 38, корп. 10