.header {
  display: flex;

  padding: 32px 0;

  align-items: center;
  justify-content: space-between;
  &__logo {
    display: block;

    @include bg($logo-header);
  }
}

.header-menu {
  display: flex;

  align-items: center;
  justify-content: space-between;
  &__item {
    position: relative;

    display: block;

    margin-right: 48px;
    padding-bottom: 16px;

    text-decoration: none;
    text-transform: uppercase;

    color: #333;

    font-weight: 700;
    &:last-child {
      margin-right: 0;
    }
    &:after {
      position: absolute;
      bottom: 0;
      bottom: 0;
      left: 0;

      width: 0;
      height: 4px;

      content: "";
      transition: all .3s ease-in-out;

      background-color: $yellow;
    }
    &:hover:after {
      width: 100%;
    }
  }
}

.header-contacts {
  max-width: 320px;
  &__icon {
    position: relative;
    top: 10px;

    margin-right: 20px;

    color: $yellow;

    font-size: 48px;
  }
  &__phone {
    font-family: Arial;
    font-size: 20px;
    line-height: 48px;
    strong {
      position: relative;
      top: 3px;

      font-size: 32px;
    }
  }
  &__address {
    padding-left: 45px;
  }
}
