mixin certificates(data)
  .certificates.js-certificates
    .certificates__item
      img(src="%=static=%images/assets/certificates/certificate1.jpg")
    .certificates__item
      img(src="%=static=%images/assets/certificates/certificate2.jpg")
    .certificates__item
      img(src="%=static=%images/assets/certificates/certificate3.jpg")