.certificates {
  box-sizing: border-box;
  width: 50%;
  margin: 120px auto 0;
  

  background-color: #333;
  &__item {
    padding: 40px;
    img {
      display: block;
      width: 100%;
    }
  }
}
