mixin contacts(data)
  .contacts#contacts
    .contacts__left
      .contacts__map
        | <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0LwDF0NK8XxkHQpKUMND8-LXQ2eEawOI&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
    .contacts__right
      .contacts__title Контакты

      .contacts__item Часы работы: 
        span ежедневно с 9:00  до 17.00
      .contacts__item Выходные: 
        span суббота и воскресенье

      .contacts__item.contacts__item--phone Телефон: 
        span +998 (91) 
          strong 137-83-11
      
      .contacts__item Email: 
        a(href="mailto:sales@commander.uz" title="") sales@commander.uz
    
      .contacts__item Адрес: 
        span Республика Узбекистан, город Ташкент, Яккасарайский район, улица Кушбеги, 35
