mixin contacts(data)
  .contacts#contacts
    .contacts__left
      .contacts__map
        | <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0LwDF0NK8XxkHQpKUMND8-LXQ2eEawOI&amp;width=700&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
    .contacts__right
      .contacts__title Контакты

      .contacts__item Часы работы: 
        span ежедневно с 9:00  до 17.00
      .contacts__item Выходные: 
        span суббота и воскресенье

      .contacts__item.contacts__item--phone Телефон: 
        span +7 (925) 
          strong 514-77-15

      .contacts__item.contacts__item--phone Телефон / Факс: 
        span +7 (495) 
          strong 963-30-90

      .contacts__item.contacts__item--phone Телефон / Факс: 
        span +7 (495) 
          strong 980-25-28
      
      .contacts__item Email: 
        a(href="#" title="") info@profobuw.ru
    
      .contacts__item Адрес: 
        span Москва, 107564, Краснобогатырская ул., дом 38, корп. 10
