.partners {
  padding-top: 85px;
  padding-right: 40px;
  padding-left: 40px;
  &__title {
    margin-bottom: 50px;

    @extend .title;
  }
}

.partners-list {
  display: flex;

  justify-content: space-between;
  &__item {
    max-width: 30%;
    padding: 20px 0;

    text-align: center;
    img {
      position: relative;
      top: 50%;
      left: 50%;

      display: block;

      width: 50%;

      transition: all .4s ease-in-out;
      transform: translate(-50%,-50%);
      &:hover {
        transform: translate(-50%,-50%) scale(.9);
      }
    }
  }
}
