mixin partners(data)
  .partners#partners
    .partners__title Наши партнеры

    .partners-list
      a(href="#" title="").partners-list__item
        img(src="%=static=%images/assets/partners/charmpoyabzaldesigncenter.png" alt="")
      a(href="#" title="").partners-list__item
        img(src="%=static=%images/assets/partners/uzcharm.png" alt="")
      a(href="#" title="").partners-list__item
        img(src="%=static=%images/assets/partners/charmpoyabzaldesigncenter.png" alt="")