// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.title {
  color: #333;

  font-size: 40px;
  font-weight: 400;
  line-height: 20px;
  &:after {
    display: block;

    width: 80px;
    height: 6px;
    margin-top: 40px;

    content: "";

    background-color: $yellow;
  }
}

p {
  color: #333;

  font-size: 18px;
  line-height: 1.5;
}

.hideup {
  position: relative;

  overflow-y: hidden;

  height: 450px;
  &:after {
    position: absolute;
    bottom: 0;

    display: block;

    width: 100%;
    height: 80%;

    content: "";

    background: linear-gradient(to bottom, rgba(#fff, 0), rgba(#fff, 1));
  }
  &.active {
    &:after {
      display: none;
    }
  }
}

.btn {
  display: inline-block;

  padding: 18px 38px 15px;

  transition: all .4s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;

  color: #333;
  background-color: $yellow;

  font-size: 16px;
  &:hover {
    color: #fff;
    background-color: #333;
  }
}
