.factory {
  padding-top: 85px;
  padding-right: 40px;
  padding-left: 40px;

  justify-content: space-between;
  &__title {
    margin-bottom: 30px;

    @extend .title;
  }
  &__description {
    padding-bottom: 20px;
  }
  .btn {
    position: relative;
    left: 50%;

    transform: translateX(-50%);
  }
}

.factory-accordion {
  display: flex;

  width: 100%;

  list-style: none;

  counter-reset: li 0;

  color: #333;

  justify-content: space-between;
  li {
    width: 20%;
    &:hover {
      .factory-accordion__item {
        color: $yellow;
      }
    }
  }
  &__image {
    position: relative;

    overflow: hidden;

    width: 200px;
    height: 200px;
    margin-bottom: 60px;

    border-radius: 50%;
    img {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%,-50%);
    }
  }
  &__item {
    position: relative;

    margin-bottom: 45px;

    transition: all .4s ease-in-out;

    font-size: 24px;
    font-weight: 700;
    line-height: 1.375;
    &:after {
      position: absolute;
      z-index: -1;
      top: -28px;
      left: -45px;

      content: counter(li, decimal-leading-zero);
      counter-increment: li;

      color: rgb(244, 244, 244);

      font-family: Montserrat, Helvetica, Arial, sans-serif;
      font-size: 80px;
      line-height: 1;
    }
  }
  &__icon {
    position: absolute;
    top: 5px;
    left: -24px;

    color: $yellow;
  }
  &__description {
    font-weight: 400;
  }
}

.factory-bottom {
  display: none;

  padding-left: 40px;
}
