mixin factory(data)
  .factory
    .factory__title Наше производство

    .factory__description
      p Создание рабочей обуви – это сложный технологический и производственный процесс, который требует современное оборудование, высококачественные используемые материалы и участие специалистов высокого класса, профессионалов своего дела.
      p Эти составляющие удачного бизнеса плюс высокопрофессиональный, активно работающий коллектив позволяют нашей компании быть в числе лидеров на рынке рабочей обуви.
      p Наше производство включает в себя следующие участки:


    ul.factory-accordion
      li
        .factory-accordion__image
          img(src="%=static=%images/assets/factory/factory1.png" alt="")
        .factory-accordion__item
          i.fa.fa-chevron-right.factory-accordion__icon
          span Раскройный участок
        .factory-accordion__description
          p где один специальный вырубочный пресс вырезает по трафарету составные части обуви, а другой вырубочный пресс вырезает стельки для будущей обуви;

      li
        .factory-accordion__image
          img(src="%=static=%images/assets/factory/factory2.jpg" alt="")
        .factory-accordion__item
          i.fa.fa-chevron-right.factory-accordion__icon
          span Разметный участок
        .factory-accordion__description
          p где сначала размечаются будущие швы обуви, а потом составные детали обрабатываются специальной машиной для спускания краев, чтобы они были тонкими и пригодными для сшивания;

      li
        .factory-accordion__image
          img(src="%=static=%images/assets/factory/factory3.png" alt="")
        .factory-accordion__item
          i.fa.fa-chevron-right.factory-accordion__icon
          span Пошивочный участок
        .factory-accordion__description
          p где на пошивочном конвейере  детали обуви сшиваются, и получается заготовка;

      li
        .factory-accordion__image
          img(src="%=static=%images/assets/factory/factory4.jpg" alt="")
        .factory-accordion__item
          i.fa.fa-chevron-right.factory-accordion__icon
          span Сборочный участок
        .factory-accordion__description
          p оснащенный современными машинами для прибивки стельки, для формирования задников, для затяжки и еще многими машинами для сборки обуви вплоть до ее полировки и вдевания шнурков, если они есть.

    .factory-bottom
      .factory-bottom__left
        p Для выполнения такого сложного технологического процесса по пошиву обуви требуется специализированное современное оборудование, которым оснащено наше производство.

        p Мы делаем акцент на изучении потребностей рынка, стремимся к внедрению передовых технологий и высокому качеству нашей продукции.
      .factory-bottom__right
        p Идеальное сочетание качества продукции, гибкой ценовой политики и индивидуального подхода к каждому покупателю  выдвигают нашу компанию в первые ряды производителей рабочей обуви.

        p С нами удобно и приятно сотрудничать!